

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 3fr;
        grid-template-columns: 1fr 1fr 3fr;
    -ms-grid-rows: 1fr 8fr 1fr;
        grid-template-rows: 1fr 8fr 1fr;
    grid-gap: 20px;
    height: 100vh;
  }
  
  @media screen and (max-width: 60em) {
    .grid {
      -ms-grid-rows: 2fr 1fr 5fr 1fr;
          grid-template-rows: 2fr 1fr 5fr 1fr;
    }
  }
  
  body {
    background-image: url("https://images.unsplash.com/photo-1607443359980-ea21b1a3b2b3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}
  
  .left,
  .middle,
  .footer {
    padding: 1rem;
    border: 1px solid #ededed;
    background-color: #ededed;
    overflow: scroll;
    box-shadow: skyblue -7px -7px;
    background: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      border-radius: 2rem;
      z-index: 2;
      backdrop-filter: blur(0.5rem);
  }
  
  .header {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
        color: lightskyblue;
        text-align: center;
        font-size: 100px;
        background: linear-gradient(90deg);
        font-stretch: extra-expanded;
        text-decoration: underline;  
      }

    h1 { 
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style: italic;
        font-size: 75px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;
    }
    
    h2 { 
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-style: italic;
      font-size: 35px;
      text-decoration: underline;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: white;
  }
    h3 { 
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-style: italic;
      font-size: 35px;
      text-decoration: underline;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: white;
  }
  h4 { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 25px;
    text-decoration: underline;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: skyblue;
}
  
  @media screen and (max-width: 60em) {
    .left {
      -ms-grid-row: 2;
          grid-row-start: 2;
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;
    }
  }

  .left{
      margin-left: 20px;
      width: 40vw;
      color: coral;
      text-align: center;
      border-radius: 25px;
      font-size: 25px;
      
      
      
  }

  .button {
    color: skyblue;
    border-radius: 25px;
    background: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      border-radius: 2rem;
      z-index: 2;
      backdrop-filter: blur(0.5rem);
  }

 
 
  @media screen and (max-width: 60em) {
    .middle {
      -ms-grid-row: 3;
          grid-row-start: 3;
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;

    }
  }

  .middle {
      width: 57vw;
      color: coral;
      text-align: center;
      border-radius: 25px;
      font-size: 25px;
      
      
  }
  
  .footer {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
  
  .footer {
      margin-left: 20px;
      width: 40vw;
      color: white;
      border-radius: 25px;
      
  }
 
  
