

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 3fr;
        grid-template-columns: 1fr 1fr 3fr;
    -ms-grid-rows: 1fr 8fr 1fr;
        grid-template-rows: 1fr 8fr 1fr;
    grid-gap: 20px;
    height: 100vh;
  }
  
  @media screen and (max-width: 60em) {
    .grid {
      -ms-grid-rows: 2fr 1fr 5fr 1fr;
          grid-template-rows: 2fr 1fr 5fr 1fr;
    }
  }
  
  body {
    background-image: url("https://images.unsplash.com/photo-1549477606-43a329b26066?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}
  
  .left,
  .middle,
  .footer {
    padding: 1rem;
    border: 1px solid #ededed;
    background-color: #ededed;
    overflow: scroll;
    -moz-box-shadow: -7px -7px;
        -webkit-box-shadow: -7px -7px;
        box-shadow: skyblue -7px -7px;
  }
  
  .header {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
        color: lightskyblue;
        text-align: center;
        font-size: 100px;
        background: linear-gradient(90deg);
        
        
        
        
  }

  .header {
    font-stretch: extra-expanded;
    text-decoration: underline;
   
  }

    h1 { 
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style: italic;
        font-size: 75px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }
    h2 { 
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-style: italic;
      font-size: 35px;
      text-decoration: underline;
  }
    h3 { 
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-style: italic;
      font-size: 35px;
      text-decoration: underline;
  }
  h4 { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 25px;
    text-decoration: underline;
}
  
  @media screen and (max-width: 60em) {
    .left {
      -ms-grid-row: 2;
          grid-row-start: 2;
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;
    }
  }

  .left{
      color: white;
      text-align: center;
      border-radius: 25px;
      font-size: 25px;
      background: rgba(0, 0, 0, 0.7);
      
      
  }
  
  @media screen and (max-width: 60em) {
    .middle {
      -ms-grid-row: 3;
          grid-row-start: 3;
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;

    }
  }

  .middle {
      color: white;
      text-align: center;
      border-radius: 25px;
      font-size: 25px;
      background: rgba(0, 0, 0, 0.7);
      
  }
  

  
  

  .footer {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
  
  .footer {
      color: white;
      border-radius: 25px;
      background: rgba(0, 0, 0, 0.7);
  }
 